<div id="shContent">
                <div class="shTxList clearfix">

    <ul class="shTxInfo">
        <li class="rs">
        <strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="3">中山區</a></strong></strong></li>
        <li class="address">
        <a href="sale-detail-3813497.html" target="_blank" title="北安路841巷美麗華一層一戶北歐風！步行至捷運站2分鐘">北安路841巷美麗華一層一..</a>&nbsp;&nbsp;
        <span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;
        <img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"><span class="Comment">(3)</span></li>
        <li class="area">30.3坪/住宅</li>
        <li class="price"><strong class="fc-org">2,060萬元</strong></li>
        <li class="visited">3381</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="9">北投區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3989119.html" target="_blank" title="石牌路二段315巷天母鹿鳴館綠意三房車位">石牌路二段315巷天母鹿鳴館綠意..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">74.9坪/住宅</li>
        <li class="price"><strong class="fc-org">4,770萬元</strong></li>
        <li class="visited">15</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="2">大同區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3911133.html" target="_blank" title="迪化街二段(免仲介費)捷運河景寧靜電梯美華廈">迪化街二段(免仲介費)捷..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"><span class="Comment">(1)</span></li>
        <li class="area">29.7坪/住宅</li>
        <li class="price"><strong class="fc-org">1,680萬元</strong></li>
        <li class="visited">1909</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="5">大安區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3933612.html" target="_blank" title="潮州街師大人文商圈金店面~前庭後院~坪數實在">潮州街師大人文商圈金店面~前庭..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">37.1坪/店面</li>
        <li class="price"><strong class="fc-org">7,200萬元</strong></li>
        <li class="visited">175</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="5">大安區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3910232.html" target="_blank" title="光復南路308巷大安區超值華廈本區最低價">光復南路308巷大安區超值華廈本..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">50.8坪/住宅</li>
        <li class="price"><strong class="fc-org">4,500萬元</strong></li>
        <li class="visited">379</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="3">中山區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3936666.html" target="_blank" title="雙城街19巷金磗密碼景觀亮麗宅">雙城街19巷金磗密碼景觀亮麗宅</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">10.3坪/套房</li>
        <li class="price"><strong class="fc-org">850萬元</strong></li>
        <li class="visited">318</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="12">文山區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3875450.html" target="_blank" title="羅斯福路六段142巷華固新天地三房,廚房客變為頂級廚具">羅斯福路六段142巷華固新..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"><span class="Comment">(3)</span></li>
        <li class="area">41坪/住宅</li>
        <li class="price"><strong class="fc-org">1,990萬元</strong></li>
        <li class="visited">2017</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="9">北投區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3989120.html" target="_blank" title="石牌路二段315巷天母全新鹿鳴尊邸景觀三房">石牌路二段315巷天母全新鹿鳴尊..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">66.9坪/住宅</li>
        <li class="price"><strong class="fc-org">4,500萬元</strong></li>
        <li class="visited">18</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="5">大安區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3917934.html" target="_blank" title="安和路二段安和路凱旋門店面(一樓+地下室)">安和路二段安和路凱旋門店面(一..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">540坪/店面</li>
        <li class="price"><strong class="fc-org">18,000萬元</strong></li>
        <li class="visited">299</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="4">松山區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3985184.html" target="_blank" title="三民路泰無限採光平面二房附車位">三民路泰無限採光平面二房附車位</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">40.5坪/住宅</li>
        <li class="price"><strong class="fc-org">3,866萬元</strong></li>
        <li class="visited">50</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="12">文山區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3777299.html" target="_blank" title="興隆路二段靜心苑框景大戶附三百萬高級裝潢全傢俱設備">興隆路二段靜心苑框景大戶附三百..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">76.4坪/住宅</li>
        <li class="price"><strong class="fc-org">4,500萬元</strong></li>
        <li class="visited">1396</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="12">文山區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3912109.html" target="_blank" title="興隆路四段109巷再興學區雙拼電梯華廈三面採光未來捷運">興隆路四段109巷再興學區雙拼電..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">34.3坪/住宅</li>
        <li class="price"><strong class="fc-org">1,850萬元</strong></li>
        <li class="visited">883</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="9">北投區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3877434.html" target="_blank" title="行義路誠意出售開價僅@33萬，3+1房華廈">行義路誠意出售開價僅@33萬，3+..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">37.4坪/住宅</li>
        <li class="price"><strong class="fc-org">1,268萬元</strong></li>
        <li class="visited">2384</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="9">北投區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3969976.html" target="_blank" title="行義路154巷天母日光森聆三房車位">行義路154巷天母日光森聆三房車位</a>&nbsp;&nbsp;&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">53.8坪/住宅</li>
        <li class="price"><strong class="fc-org">3,380萬元</strong></li>
        <li class="visited">87</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="7">信義區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3853754.html" target="_blank" title="松德路★凱廈帝王豪景.業主誠售賞屋喜歡價錢好談">松德路★凱廈帝王豪景.業主誠售..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">59.4坪/住宅</li>
        <li class="price"><strong class="fc-org">5,980萬元</strong></li>
        <li class="visited">559</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="10">內湖區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3928218.html" target="_blank" title="內湖路一段91巷近內科、劍南站稀有釋出★仲介勿擾★">內湖路一段91巷近內科、劍南站稀..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">58.1坪/住宅</li>
        <li class="price"><strong class="fc-org">3,980萬元</strong></li>
        <li class="visited">398</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="9">北投區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3872893.html" target="_blank" title="中央北路四段142巷【下殺75折】單價2字頭*買捷運大三房">中央北路四段142巷【下殺75折】..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">40.7坪/住宅</li>
        <li class="price"><strong class="fc-org">1,200萬元</strong></li>
        <li class="visited">1731</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="6">萬華區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3924078.html" target="_blank" title="青年路降誠售..青年公園溫馨美廈可隔兩房.讚">青年路降誠售..青年公園溫馨美廈..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">14.2坪/住宅</li>
        <li class="price"><strong class="fc-org">768萬元</strong></li>
        <li class="visited">2199</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="7">信義區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3858071.html" target="_blank" title="莊敬路莊敬富邦華廈大四房!!{小巢-許方馨}">莊敬路莊敬富邦華廈大四房!!{小..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"></li>
        <li class="area">52.9坪/住宅</li>
        <li class="price"><strong class="fc-org">4,680萬元</strong></li>
        <li class="visited">361</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

    <ul class="shTxInfo">
        <li class="rs"><strong><a class="txt-sh-region" href="javascript:;" data-bind="1">台北市</a>-<strong><a class="txt-sh-section" href="javascript:;" data-bind="9">北投區</a></strong></strong></li>
        <li class="address"><a href="sale-detail-3877398.html" target="_blank" title="崇仰一路威靈頓山莊‧大戶豪墅附車庫‧適招待所">崇仰一路威靈頓山莊‧大戶..</a>&nbsp;&nbsp;<span class="ImgStatus" title="內有房屋照片">附圖</span>&nbsp;<img src="./images/index/userCenter/vip.gif" width="24" height="13" border="0" align="absmiddle" class="vipimg" alt="VIP物件" title="VIP物件"><span class="Comment">(2)</span></li>
        <li class="area">81.4坪/住宅</li>
        <li class="price"><strong class="fc-org">16,800萬元</strong></li>
        <li class="visited">491</li>
        <li class="update"><strong class="fc-red"><strong class="TodayTime">今日</strong></strong></li>
    </ul>

</div>
            </div>